# --- configs/config.yaml ---

project_name: "Sentiment_Project"
mode ='DL' # Options: 'ML' for Machine Learning, 'DL' for Deep Learning

data:
  # Hugging Face dataset name
  dataset_name: "imdb"
  # Maximum sequence length for all tokenizers (DL models)
  max_length: 128
  # Global batch size used by data loaders
  batch_size: 32
  # Ratio for test set split (e.g., 0.1 means 10% for test)
  test_split_ratio: 0.1
  # Random seed for reproducibility across splits and models
  seed: 42
  # Tokenizer names for different models
  tokenizer_name: "bert-base-uncased"

eda:
  report_dir: "reports/eda_reports"
  max_words_to_plot: 50

ml_baseline:
  classifier_name: "LOGREG"
  model_path: "ml_baseline/model.joblib"
  report_path: "reports/ml_baseline/metrics.json"
  metric_file_name: "ml_baseline/metrics.json"

model:
  model_type: "SBERT"

callbacks:
  model_checkpoint:
    checkpoint_dir: "checkpoints/"

trainer:
  report_dir: "reports/model_reports"

evaluation:
  model_path: "checkpoints/best_model.pth"
  report_dir: "reports/evaluation_reports"
